{% extends 'base.html' %}
{% load static %}
{% block title %}
Add Product
{% endblock title%}
{% block body %}
<div class="content-wrapper" style="min-height: 699px;">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Manage
      <small>Products</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Products</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-md-12 col-xs-12">

        <div id="messages"></div>



        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Add Product</h3>
          </div>
          <!-- /.box-header -->
          <form role="form" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="box-body">


                <div class="form-group">

                  <label for="product_image">Image</label>
                  <div class="kv-avatar">
                      <div class="file-input required file-input required-new"><div class="file-preview ">
        <div class="file-drop-disabled">
    <div class="file-preview-thumbnails">
    </div>
    <div class="clearfix"></div>    <div class="file-preview-status text-center text-success"></div>
    <div class="kv-fileinput required-error"></div>
    </div>
</div> <button type="button" class="btn btn-secondary" title="Add picture tags" onclick="alert('Call your custom code here.')"><i class="glyphicon glyphicon-tag"></i></button> <button type="button" tabindex="500" title="Cancel or reset changes" class="btn btn-default btn-secondary fileinput required-remove fileinput required-remove-button"><i class="glyphicon glyphicon-remove"></i> </button> <div tabindex="500" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-folder-open"></i> <input required type="file" name="product_image" id="product_image"></div></div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="product_name">Product name</label>
                  <input required type="text" class="form-control" id="product_name" name="product_name" placeholder="Enter product name" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="sku">SKU</label>
                  <input required type="text" class="form-control" id="sku" name="sku" placeholder="Enter sku" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="price">Price</label>
                  <input required type="number" class="form-control" id="price" name="price" placeholder="Enter price" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="qty">Qty</label>
                  <input required type="number" class="form-control" id="qty" name="qty" placeholder="Enter Qty" autocomplete="off">
                </div>


                <div clas="form-group">
                    <label for="description">Description</label>
                    <input required class="form-control" type="text" id="description" name="description">
                </div>

                <div class="form-group">
                  <label for="brands">Brands</label>
                    {% if brands %}
                        <select class="form-control"  id="brands" name="brands">
                            {% for brand in brands %}
                                          <option value="{{brand.id}}">{{brand.brand_name}}</option>
                            {% endfor %}
                                      </select>

                    {% else %}
                    <input required type="text" value="Nothing Here" readonly>
                    {% endif %}
                </div>
                  <div class="form-group">
                  <label for="category">Category</label>
                    {% if category %}
                        <select class="form-control" id="category" name="category">
                            {% for cat in category %}
                                          <option value="{{cat.id}}">{{cat.category_name}}</option>
                            {% endfor %}
                                      </select>

                    {% else %}
                    <input required type="text" value="Nothing Here" readonly>
                    {% endif %}
                </div>
                  <div class="form-group">
                  <label for="store">Store</label>
                    {% if stores %}
                        <select class="form-control"  id="store" name="store">
                            {% for store in stores %}
                                          <option value="{{store.id}}">{{store.store_name}}</option>
                            {% endfor %}
                                      </select>

                    {% else %}
                    <input required type="text" value="Nothing Here" readonly>
                    {% endif %}
                </div>

                <div class="form-group">
                  <label for="store">Availability</label>
                  <select  class="form-control" id="availability" name="availability">
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
                <a href="http://localhost:8888/stock/products/" class="btn btn-warning">Back</a>
              </div>
            </form>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- col-md-12 -->
    </div>
    <!-- /.row -->


  </section>
  <!-- /.content -->
</div>
<script type="text/javascript">
  $(document).ready(function() {
    //$(".select_group").select2();
    //$("#description").wysihtml5();

    //$("#mainProductNav").addClass('active');
    //$("#addProductNav").addClass('active');

    var btnCust = '<button type="button" class="btn btn-secondary" title="Add picture tags" ' +
        'onclick="alert(\'Call your custom code here.\')">' +
        '<i class="glyphicon glyphicon-tag"></i>' +
        '</button>';
    $("#product_image").fileinput({
        overwriteInitial: true,
        maxFileSize: 1500,
        showClose: false,
        showCaption: false,
        browseLabel: '',
        removeLabel: '',
        browseIcon: '<i class="glyphicon glyphicon-folder-open"></i>',
        removeIcon: '<i class="glyphicon glyphicon-remove"></i>',
        removeTitle: 'Cancel or reset changes',
        elErrorContainer: '#kv-avatar-errors-1',
        msgErrorClass: 'alert alert-block alert-danger',
        // defaultPreviewContent: '<img src="/uploads/default_avatar_male.jpg" alt="Your Avatar">',
        layoutTemplates: {main2: '{preview} ' +  btnCust + ' {remove} {browse}'},
        allowedFileExtensions: ["jpg", "png", "gif"]
    });

  });
</script>
{% endblock body%}