{% extends 'base.html' %}
{% load static %}
{% block title %}
Company
{% endblock title %}
{% block body %}
<div class="content-wrapper" style="min-height: 699px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Manage
        <small>Company</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">company</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-12 col-xs-12">


          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Manage Company Information</h3>
            </div>
            <form role="form" action="" method="post">
              <div class="box-body">


                <div class="form-group">
                  <label for="company_name">Company Name</label>
                  <input type="text" class="form-control" id="company_name" name="company_name" placeholder="Enter company name" value="Infosys private" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="service_charge_value">Charge Amount (%)</label>
                  <input type="text" class="form-control" id="service_charge_value" name="service_charge_value" placeholder="Enter charge amount %" value="13" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="vat_charge_value">Vat Charge (%)</label>
                  <input type="text" class="form-control" id="vat_charge_value" name="vat_charge_value" placeholder="Enter vat charge %" value="10" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="address">Address</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="Enter address" value="Madrid" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter phone" value="758676851" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="country">Country</label>
                  <input type="text" class="form-control" id="country" name="country" placeholder="Enter country" value="Spain" autocomplete="off">
                </div>
                <div class="form-group">
                  <label for="permission">Message</label>
                  <ul class="wysihtml5-toolbar" style=""><li class="dropdown">
  <a class="btn btn-default dropdown-toggle " data-toggle="dropdown">

      <span class="glyphicon glyphicon-font"></span>

    <span class="current-font">Normal text</span>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="p" tabindex="-1" href="javascript:;" unselectable="on">Normal text</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h1" tabindex="-1" href="javascript:;" unselectable="on">Heading 1</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h2" tabindex="-1" href="javascript:;" unselectable="on">Heading 2</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3" tabindex="-1" href="javascript:;" unselectable="on">Heading 3</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h4" tabindex="-1" href="javascript:;" unselectable="on">Heading 4</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h5" tabindex="-1" href="javascript:;" unselectable="on">Heading 5</a></li>
    <li><a data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h6" tabindex="-1" href="javascript:;" unselectable="on">Heading 6</a></li>
  </ul>
</li>
<li>
  <div class="btn-group">
    <a class="btn  btn-default" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on">Bold</a>
    <a class="btn  btn-default" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on">Italic</a>
    <a class="btn  btn-default" data-wysihtml5-command="underline" title="CTRL+U" tabindex="-1" href="javascript:;" unselectable="on">Underline</a>

    <a class="btn  btn-default" data-wysihtml5-command="small" title="CTRL+S" tabindex="-1" href="javascript:;" unselectable="on">Small</a>

  </div>
</li>
<li>
  <a class="btn  btn-default" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="blockquote" data-wysihtml5-display-format-name="false" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-quote"></span>

  </a>
</li>
<li>
  <div class="btn-group">
    <a class="btn  btn-default" data-wysihtml5-command="insertUnorderedList" title="Unordered list" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-list"></span>

    </a>
    <a class="btn  btn-default" data-wysihtml5-command="insertOrderedList" title="Ordered list" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-th-list"></span>

    </a>
    <a class="btn  btn-default" data-wysihtml5-command="Outdent" title="Outdent" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-indent-right"></span>

    </a>
    <a class="btn  btn-default" data-wysihtml5-command="Indent" title="Indent" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-indent-left"></span>

    </a>
  </div>
</li>
<li>
  <div class="bootstrap-wysihtml5-insert-link-modal modal fade" data-wysihtml5-dialog="createLink">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Insert link</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input value="http://" class="bootstrap-wysihtml5-insert-link-url form-control" data-wysihtml5-dialog-field="href">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
          <a href="#" class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save">Insert link</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn  btn-default" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-share"></span>

  </a>
</li>
<li>
  <div class="bootstrap-wysihtml5-insert-image-modal modal fade" data-wysihtml5-dialog="insertImage">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Insert image</h3>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input value="http://" class="bootstrap-wysihtml5-insert-image-url form-control" data-wysihtml5-dialog-field="src">
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn btn-default" data-dismiss="modal" data-wysihtml5-dialog-action="cancel" href="#">Cancel</a>
          <a class="btn btn-primary" data-dismiss="modal" data-wysihtml5-dialog-action="save" href="#">Insert image</a>
        </div>
      </div>
    </div>
  </div>
  <a class="btn  btn-default" data-wysihtml5-command="insertImage" title="Insert image" tabindex="-1" href="javascript:;" unselectable="on">

      <span class="glyphicon glyphicon-picture"></span>

  </a>
</li>
</ul><textarea class="form-control" id="message" name="message" style="display: none;">                     hello everyone one                  </textarea><input type="hidden" name="_wysihtml5_mode" value="1"><iframe class="wysihtml5-sandbox" security="restricted" allowtransparency="true" frameborder="0" width="0" height="0" marginwidth="0" marginheight="0" style="display: block; background-color: rgb(255, 255, 255); border-collapse: separate; border-color: rgb(210, 214, 222); border-style: solid; border-width: 1px; clear: none; float: none; margin: 0px; outline: rgb(85, 85, 85) none 0px; outline-offset: 0px; padding: 6px 12px; position: static; inset: auto; z-index: auto; vertical-align: baseline; text-align: start; box-sizing: border-box; box-shadow: none; border-radius: 0px; width: 100%; height: auto;"></iframe>
                </div>
                <div class="form-group">
                  <label for="currency">Currency</label>
                                    <select class="form-control" id="currency" name="currency">
                    <option value="">~~SELECT~~</option>

                                          <option value="AED">AED</option>
                                          <option value="AFN">AFN</option>
                                          <option value="ALL">ALL</option>
                                          <option value="ANG">ANG</option>
                                          <option value="AOA">AOA</option>
                                          <option value="ARS">ARS</option>
                                          <option value="AUD">AUD</option>
                                          <option value="AWG">AWG</option>
                                          <option value="AZN">AZN</option>
                                          <option value="BAM">BAM</option>
                                          <option value="BBD">BBD</option>
                                          <option value="BDT">BDT</option>
                                          <option value="BGN">BGN</option>
                                          <option value="BHD">BHD</option>
                                          <option value="BIF">BIF</option>
                                          <option value="BMD">BMD</option>
                                          <option value="BND">BND</option>
                                          <option value="BOB">BOB</option>
                                          <option value="BRL">BRL</option>
                                          <option value="BSD">BSD</option>
                                          <option value="BTN">BTN</option>
                                          <option value="BWP">BWP</option>
                                          <option value="BYR">BYR</option>
                                          <option value="BZD">BZD</option>
                                          <option value="CAD">CAD</option>
                                          <option value="CDF">CDF</option>
                                          <option value="CHF">CHF</option>
                                          <option value="CLP">CLP</option>
                                          <option value="CNY">CNY</option>
                                          <option value="COP">COP</option>
                                          <option value="CRC">CRC</option>
                                          <option value="CUP">CUP</option>
                                          <option value="CVE">CVE</option>
                                          <option value="CZK">CZK</option>
                                          <option value="DJF">DJF</option>
                                          <option value="DKK">DKK</option>
                                          <option value="DOP">DOP</option>
                                          <option value="DZD">DZD</option>
                                          <option value="EGP">EGP</option>
                                          <option value="ETB">ETB</option>
                                          <option value="EUR">EUR</option>
                                          <option value="FJD">FJD</option>
                                          <option value="FKP">FKP</option>
                                          <option value="GBP">GBP</option>
                                          <option value="GEL">GEL</option>
                                          <option value="GHS">GHS</option>
                                          <option value="GIP">GIP</option>
                                          <option value="GMD">GMD</option>
                                          <option value="GNF">GNF</option>
                                          <option value="GTQ">GTQ</option>
                                          <option value="GYD">GYD</option>
                                          <option value="HKD">HKD</option>
                                          <option value="HNL">HNL</option>
                                          <option value="HRK">HRK</option>
                                          <option value="HTG">HTG</option>
                                          <option value="HUF">HUF</option>
                                          <option value="IDR">IDR</option>
                                          <option value="ILS">ILS</option>
                                          <option value="INR">INR</option>
                                          <option value="IQD">IQD</option>
                                          <option value="IRR">IRR</option>
                                          <option value="ISK">ISK</option>
                                          <option value="JEP">JEP</option>
                                          <option value="JMD">JMD</option>
                                          <option value="JOD">JOD</option>
                                          <option value="JPY">JPY</option>
                                          <option value="KES">KES</option>
                                          <option value="KGS">KGS</option>
                                          <option value="KHR">KHR</option>
                                          <option value="KMF">KMF</option>
                                          <option value="KPW">KPW</option>
                                          <option value="KRW">KRW</option>
                                          <option value="KWD">KWD</option>
                                          <option value="KYD">KYD</option>
                                          <option value="KZT">KZT</option>
                                          <option value="LAK">LAK</option>
                                          <option value="LBP">LBP</option>
                                          <option value="LKR">LKR</option>
                                          <option value="LRD">LRD</option>
                                          <option value="LSL">LSL</option>
                                          <option value="LTL">LTL</option>
                                          <option value="LVL">LVL</option>
                                          <option value="LYD">LYD</option>
                                          <option value="MAD">MAD</option>
                                          <option value="MDL">MDL</option>
                                          <option value="MGA">MGA</option>
                                          <option value="MKD">MKD</option>
                                          <option value="MMK">MMK</option>
                                          <option value="MNT">MNT</option>
                                          <option value="MOP">MOP</option>
                                          <option value="MRO">MRO</option>
                                          <option value="MUR">MUR</option>
                                          <option value="MVR">MVR</option>
                                          <option value="MWK">MWK</option>
                                          <option value="MXN">MXN</option>
                                          <option value="MYR">MYR</option>
                                          <option value="MZN">MZN</option>
                                          <option value="NAD">NAD</option>
                                          <option value="NGN">NGN</option>
                                          <option value="NIO">NIO</option>
                                          <option value="NOK">NOK</option>
                                          <option value="NPR">NPR</option>
                                          <option value="NZD">NZD</option>
                                          <option value="OMR">OMR</option>
                                          <option value="PAB">PAB</option>
                                          <option value="PEN">PEN</option>
                                          <option value="PGK">PGK</option>
                                          <option value="PHP">PHP</option>
                                          <option value="PKR">PKR</option>
                                          <option value="PLN">PLN</option>
                                          <option value="PYG">PYG</option>
                                          <option value="QAR">QAR</option>
                                          <option value="RON">RON</option>
                                          <option value="RSD">RSD</option>
                                          <option value="RUB">RUB</option>
                                          <option value="RWF">RWF</option>
                                          <option value="SAR">SAR</option>
                                          <option value="SBD">SBD</option>
                                          <option value="SCR">SCR</option>
                                          <option value="SDG">SDG</option>
                                          <option value="SEK">SEK</option>
                                          <option value="SGD">SGD</option>
                                          <option value="SHP">SHP</option>
                                          <option value="SLL">SLL</option>
                                          <option value="SOS">SOS</option>
                                          <option value="SRD">SRD</option>
                                          <option value="STD">STD</option>
                                          <option value="SVC">SVC</option>
                                          <option value="SYP">SYP</option>
                                          <option value="SZL">SZL</option>
                                          <option value="THB">THB</option>
                                          <option value="TJS">TJS</option>
                                          <option value="TMT">TMT</option>
                                          <option value="TND">TND</option>
                                          <option value="TOP">TOP</option>
                                          <option value="TRY">TRY</option>
                                          <option value="TTD">TTD</option>
                                          <option value="TWD">TWD</option>
                                          <option value="UAH">UAH</option>
                                          <option value="UGX">UGX</option>
                                          <option value="USD" selected="">USD</option>
                                          <option value="UYU">UYU</option>
                                          <option value="UZS">UZS</option>
                                          <option value="VEF">VEF</option>
                                          <option value="VND">VND</option>
                                          <option value="VUV">VUV</option>
                                          <option value="WST">WST</option>
                                          <option value="XAF">XAF</option>
                                          <option value="XCD">XCD</option>
                                          <option value="XPF">XPF</option>
                                          <option value="YER">YER</option>
                                          <option value="ZAR">ZAR</option>
                                          <option value="ZMK">ZMK</option>
                                          <option value="ZWL">ZWL</option>
                                      </select>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Save Changes</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- col-md-12 -->
      </div>
      <!-- /.row -->


    </section>
    <!-- /.content -->
  </div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#companyNav").addClass('active');
    $("#message").wysihtml5();
  });
</script>
{% endblock body %}